#about-page {
    a {
        text-decoration: none !important;
    }

    .about-page__work-column {
        .cv-section-headline-wrapper {
            h3 {
                display: flex;
                align-items: center;
            }

            .squared-icon {
                font-size: 28px;
                color: #737373 !important;
                border: 2px solid #737373;
                padding: 5px;
                border-radius: 5px;
                margin-right: 15px;
            }

            &:hover {
                .squared-icon {
                    background-color: #737373;
                    color: white !important;
                }
            }
        }
    }

    .about-page__information-column {
        .about-page__section {
            h3 {
                margin-bottom: 1rem !important;
            }
        }
    }

    @media screen and (min-width: 960px) {
        .about-page__information-column {
            border-left: 10px double #ccc;
        }
    }

    .cv-section {
        .v-timeline-item__dot--small {
            top: 2px !important;
            height: 16px !important;
            width: 16px !important;
            left: 11px !important;
        }
    }

    .custom-v-list-tile-content {
        .v-list__tile {
            padding-left: 0 !important;
        }

        .v-list__tile__title {
            text-overflow: clip;
            overflow: visible;
            white-space: normal;
        }
    }
}